.divider{
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.divider-line{
    flex: 30%;
    height: 3px;
    background: var(--me-gradient);
}